@model IEnumerable<RecepcjaHotel.Models.Payment>

@{
    ViewData["Title"] = "Index";
}

<h1 class="display-4">Metody Płatności</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
}
    </tbody>
</table>
