@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @Html.ActionLink("Rodzaje pokojów", "Index", "RoomsType" /*new { id = item.ID }*/)
    @Html.ActionLink("Klienci", "Index", "Clients")
</div>
