@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Recepcja Hotelu</h1><br />
    <a class="btn btn-primary btn-lg" asp-controller="Client" asp-action="Index">Klienci</a>
    <a class="btn btn-primary btn-lg" asp-controller="Reservation" asp-action="Index">Rezerwacje</a>
    <a class="btn btn-primary btn-lg" asp-controller="Room" asp-action="Index">Pokoje</a>
    <a class="btn btn-primary btn-lg" asp-controller="RoomsType" asp-action="Index">Rodzaje Pokojów</a>
    <a class="btn btn-primary btn-lg" asp-controller="Payment" asp-action="Index">Metody Płatności</a>
</div>
